/* @font-face {
	font-family: '...';
	src: url('/fonts/...');
	font-weight: normal;
	font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Libre+Baskerville:ital@1&family=Ubuntu:wght@300;700&display=swap');