@font-face {
	font-family: 'JetBrainsMono';
	src: url('../../public/fonts/JetBrainsMono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
<<<<<<< HEAD
}
=======
} */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Libre+Baskerville:ital@1&family=Ubuntu:wght@300;700&display=swap');
>>>>>>> 0d52a86d2660e75e525882fa588e22cd0651784a
